extends ArtGalleryLayout

block content
  div(id='game')
  div(id='videoFeeds')
    div(id='bigFeed')
        //-video(id='localVideo', width='740', height='416', autoplay='autoplay')
    div(id='BackgroundFeeds')
      video(id='localVideo')
      span(id='remotesVideos')
      //-span(id='remotesVideos', onclick='enlargeVideoFeed()')

  div(id='Analytics')
    div(id = 'focusChatMember')
      |(Put Some Call Buttons Here)
      
  div(id = 'Controls')
    button(id='proposeStop', onClick="proposeStop()").
      End Call	

  h3(id='instructions')
 