extends UnionSquareLayout

block content
  div(id='game')
  div(id='blocker')
    h3(id='instructions')
        span(style="font-size:40px")='Welcome to RocConf'
        |<br>
        |To work properly the website requires access to your webcam and to disable your cursor.<br />
        |When the browser asks if you want to allow access (at the top of the window), click allow. <br />
        |To look around use your mouse. Press Esc to pause. <br />
        |Click to start!

  video(id='localVideo')
  span(id='remotesVideos')
  //-(id='roomURL')
  //-  | Your room URL: http://conference.eastus.cloudapp.azure.com:8081/UnionSquare
  div(id='controls')='Pause/Help: Esc        Rotate:Mouse         '
  //- div(id='webcamWarning') Looks like you haven't enabled your webcam! Please re-enable it by first pressing "Esc" to pause, then press "P" on your keyboard, and finally, click "Accept" ! You will not be able to see other videos until you do so!
  //- div(id='chatBox')
  //-  input(id="chatInput")
  //-  button(id="chatInputButton") Send!
