extends layout

block content
    .container
      .header
        link(href='https://conference.eastus.cloudapp.azure.com/RocConf/chat/public/css/style.css',rel='stylesheet',type='text/css')
        nav.navbar.navbar-dark
          .container-fluid
            a.navbar-brand(href='#')
              img.img-fluid(src='https://files.slack.com/files-pri/T1FSQC4CB-F2VMXLQ5D/rlogo.png', alt='')
            .header-title
              h1 &nbsp

        ul.nav.nav-pills.pull-right
          //-li.active
            //-a(href='./') Home
          //-li
            //-a(href='./About') About
          //-li
            //-a(href='./Problems') Problems
          //-li
            //-a(href='./Contact') Contact
        //h3.text-muted RocConf
      .jumbotron
        h2 Welcome to RocConf
        p.lead
          | RocConf is a video conferencing platform that aims to provide feedback by analyzing audiovisual data captured to improve group communication 
        //- p
        //-   a.btn.btn-lg.btn-success(href='#', role='button') Sign up today
      .row.marketing
        .col-lg-6
          h3 2D
          p
            | 2D version
          a.btn.btn-lg.btn-success(id= 'ArtGalleryPrivate', role='button') Create Private Room
          a.btn.btn-lg.btn-default(href='./ArtGallery', role='button') Enter Public Room
        .col-lg-6
          h3 3D
          p
            | 3D version
          a.btn.btn-lg.btn-success(id= 'UnionSquarePrivate', role='button') Create Private Room
          a.btn.btn-lg.btn-default(href='./UnionSquare', role='button') Enter Public Room
      .footer
        p
          | <br> <br> Built by the RocConf Team

