extends layout

block content
    header
        nav.navbar.navbar-dark
          .container-fluid
            a.navbar-brand(href='#')
              img.img-fluid(src='images/coco.png', alt='')
            .header-title
              h1 &nbsp

        ul.nav.nav-pills.pull-right
          //-li.active
            //-a(href='./') Home
          //-li
            //-a(href='./About') About
          //-li
            //-a(href='./Problems') Problems
          //-li
            //-a(href='./Contact') Contact
        //h3.text-muted RocConf
    .container.indexContainer
      .jumbotron
        h2 Welcome to CoCo
        p.lead
          | Coco (Collaboration Coach) is a video conferencing platform with post-session feedback for helping your group to improve group communication by analyzing audiovisual data.
        //- p
        //-   a.btn.btn-lg.btn-success(href='#', role='button') Sign up today
      .row.marketing
        .col-lg-6
          h3 2D
          p
            | 2D version
          a.btn.btn-lg.btn-success(id= 'ArtGalleryPrivate', role='button') Create Private Room
          a.btn.btn-lg.btn-default(href='./ArtGallery', role='button') Enter Public Room
        .col-lg-6
          h3 3D
          p
            | 3D version
          a.btn.btn-lg.btn-success(id= 'UnionSquarePrivate', role='button') Create Private Room
          a.btn.btn-lg.btn-default(href='./UnionSquare', role='button') Enter Public Room
      .footer
        p
          | <br> <br> Built by the CoCo Team

