html, body 
{
  width: 100%;
  height: 100%;
}

body 
{
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

header 
{
  height: 12%;
  background-color: #2ba2db;
}

#header_text
{
  text-align: center;
  padding-top: 1%;
  font-size: 2.5rem;
  color: #ffffff
}

#header_image
{
  float:left;
  padding-top: 0.5%;
}

#remote_videos > video 
{
  position: relative;
  margin-top: 2%;
  margin-left: 25%;
  width: 50%;
}

#background_feeds 
{
  position: relative;
  margin-left: 1%;
  float: right;
  width: 30%;
}

#focus_feed 
{
  position: relative;
  margin-top: 2%;
  margin-left: 2%;
  float: left;
}

#local_video 
{
  visibility: hidden;
}

#end_call_button
{
  margin-left: 20%;
  width: 60%;
  height: 50px;
  background-color: #2ba2db;
  color: #ffffff;
  border-color: #A9A9A9;
}

#affdex_data
{
  display: none;
}
